<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/font-awesome.css" rel="stylesheet">
		<script src="/static/jquery-1.8.3.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="notifications"></div>
			@RenderBody()
		</div>
	</body>
</html>
