@using MediaPod.Api.Services;
@using ServiceStack.ServiceClient.Web;
@{
	_Layout = "MediaPod.Web.Views.Layout";
	
	var tvShowsUrl = new TVShowRequest().ToUrl("GET");
}
<script>
	$(document).ready(function()
	{
		// Main elements.
		var $tvShowThumbnails = $(".tvShowThumbnails");
		
		// Setup elements.
		$tvShowThumbnails.load(function()
		{
			$.ajax(
			{
				url : "@tvShowsUrl?format=json",
				success : function(data)
				{
					$tvShowThumbnails.html(data);
				}
			});
		});
		
		// Core functionality.
		var createTVShowThumnail = function()
		{
			
		};
		
		// Init.
		$tvShowThumbnails.load();	
	});
</script>
<div class="row">
	<h2>TV Shows</h2>
	<ul class="span12 tvShowThumbnails" style="min-height:200px;max-height:460px;overflow:scroll;"></ul>
	<div class="mediaDetails span12"></div>
</div>